.sidebar {
	position: fixed;
	height: calc(100vh - 60px);
	background-color: #4527A0;
  min-width: 40%;
  display: inline-block;
  top: 60px;
  box-shadow: 2px 8px 27px 0px #333;
  transition: left 0.4s ease-out;
}

.d-ib {
	display: inline-block;
}

.sidebar-links {
	list-style-type: none;
  font-size: 1.5em;
  padding: 0;
  width: 100%;
  margin: 0;
}

.sidebar-links li {
  padding: 0.4em 0 0.4em 0.4em;
  cursor: pointer;
}

.sidebar-links li:hover {
	background-color: rgba(0,0,0,0.4);
}
.free-space {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	top: 0;
	left: 0;
	z-index: -1;
}

.slide-enter {
  left: -100%;
}

.slide-enter.slide-enter-active {
  left: 0%;
  transition: left 400ms;
}

.slide-leave {
  left: 0%;
}

.slide-leave.slide-leave-active {
  left: -100%;
  transition: left 400ms ease-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.fade-leave {
  opacity: 1; 
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 400ms ease-out;
}

@media screen and (max-width: 1080) {
	.sidebar {
		min-width: 240px;
	}
}